.developer {
    color: white !important;
    text-shadow: 0px 0px 5px gold;
}

.developer:hover {
    text-shadow: 0px 0px 9px gold;
}

.supporter {
    color: white !important;
    text-shadow: 0px 0px 3px lime;
}