.developer {
    color: white !important;
    text-shadow: 0px 0px 5px gold;
}

/*
.developer::before {
    content: url("https://i.imgur.com/XzwPi62.png")
}
*/
.developer:hover {
    text-shadow: 0px 0px 9px gold;
}