.developer {
    color: white !important;
    text-shadow: 0px 0px 5px gold;
}

.developer::after {
    content: url("../assets/developer-badge.png");
}

.developer::before {
    width: 28px;
    height: 28px;
    content: url("../assets/developer-badge.png");
    position: relative;
}

.developer:hover {
    border-bottom-color: gold !important;
}